/Yeoman/generator-starter/generators/ @WQRice
/Yeoman/generator-starter/node_modules/ @WQRice
/Yeoman/generator-starter/webStatic/ @WQRice
/Yeoman/generator-starter/*.json @WQRice
/Yeoman/generator-starter/parse2Java.js @WQRice

/Yeoman/generator-starter/webStatic/src/main/resources/static/ @jialujulie

