<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->


<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<html lang="en-us" style="height:100%;" dir="ltr">
  <head>
    <title>Table - Using ko.observableArray</title>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../css/images/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="../css/images/touchicon.png">
    <meta name="apple-mobile-web-app-title" content="Oracle JET">
    <link rel="stylesheet" id="css" href="css/libs/oj/v5.0.0/alta/oj-alta-min.css">
    <link rel="stylesheet" href="css/demo-alta-site-min.css">
    <script>
      // The "oj_whenReady" global variable enables a strategy that the busy context whenReady,
      // will implicitly add a busy state, until the application calls applicationBootstrapComplete
      // on the busy state context.
      window["oj_whenReady"] = true;
    </script>
    <script src="http://www.oracle.com/webfolder/technetwork/jet/js/libs/require/require.js"></script>
    <!-- RequireJS bootstrap file -->
    <script src="../js/main.js"></script>
    <script src="../js/appController.js"></script>
  </head>
  <body class="demo-disable-bg-image">
    <div id="sampleDemo" style="" class="demo-padding demo-container">
      <div id="componentDemoContent" style="width: 1px; min-width: 100%;">
        
        <div id="tableDemo" class="oj-flex oj-flex-items-pad">
            <div class="oj-xl-8 oj-lg-8 oj-md-6 oj-flex-item">
                <oj-table id="table" aria-label="Cake Table"
                         on-current-row-changed="[[currentRowListener]]"
                                            data='[[dataprovider]]'
                                            columns-default='{"sortable": "disabled"}' 
                                            columns='[
                                            {"headerText": "Cake Id", 
                                                       "field": "Cake_Id"},
                                                       
                                                         {"headerText": "Cake color", "field": "Cake_color"},
                                                         
                                                         {"headerText": "Cake price", "field": "Cake_price"},
                                                         

                                                          {"headerText": "Cake mass", "field": "Cake_mass"}]'

                                            style='width: 100%; height:100%;'>
                </oj-table>
            </div>
            <div class="oj-xl-4 oj-lg-4 oj-md-6 oj-flex-item">

                <div class="oj-flex oj-flex-items-pad">
                    <div class="oj-flex-item deprecated-col-default-width">
                        <oj-label for="CakeIdInput">Cake Id</oj-label>
                    </div>
                    <div class="oj-flex-item deprecated-col-default-width">
                        <oj-input-number id="CakeIdInput" max="2000" min="0" step="1" 
                                         value="{{inputCakeId}}" readonly></oj-input-number>
                    </div>
                </div>

                
                <div class="oj-flex oj-flex-items-pad">
                    <div class="oj-flex-item deprecated-col-default-width">
                      <oj-label for="CakecolorInput">Cake color</oj-label>
                    </div>
                    <div class="oj-flex-item deprecated-col-default-width">
                      <oj-input-text id="CakecolorInput" value="{{inputCakecolor}}"></oj-input-text>
                    </div>
                </div>
              
                <div class="oj-flex oj-flex-items-pad">
                    <div class="oj-flex-item deprecated-col-default-width">
                      <oj-label for="CakepriceInput">Cake price</oj-label>
                    </div>
                    <div class="oj-flex-item deprecated-col-default-width">
                      <oj-input-text id="CakepriceInput" value="{{inputCakeprice}}"></oj-input-text>
                    </div>
                </div>
              
                <div class="oj-flex oj-flex-items-pad">
                    <div class="oj-flex-item deprecated-col-default-width">
                      <oj-label for="CakemassInput">Cake mass</oj-label>
                    </div>
                    <div class="oj-flex-item deprecated-col-default-width">
                      <oj-input-text id="CakemassInput" value="{{inputCakemass}}"></oj-input-text>
                    </div>
                </div>
              


                <div class="oj-flex oj-flex-items-pad">
                  <oj-button id='addbutton' on-oj-action='[[addRow]]'>Add to end</oj-button>
                  <oj-button id='updateButton' on-oj-action='[[updateRow]]'>Update</oj-button>   
                  <oj-button id='removeButton' on-oj-action='[[removeRow]]'>Remove</oj-button>
                  <!--<oj-button id='getNotes' on-oj-action='[[getNotes]]'>Get notes</oj-button>-->
                </div>
            </div>
        </div>

        
      </div>
    </div>
  </body>
</html>
